<button type="button" (click)="open(content)" class="btn btn-primary">Update Song Library</button>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Upload new library</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<h3>Where to find the karafun catalog</h3>
				<div>The catelog can be <a href="https://www.karafun.com/karaoke-song-list.html" target="_blank">found here</a>.  There should be a link to download it in CSV format, save that file and use it to update the current library.</div>
				<div class="mb-3"><strong>BE AWARE! uploading a new library could take a bit, and it will replace the current library</strong></div>

				<input type="file" class="file-input" accept=".csv" (change)="onFileSelected($event)" #fileUpload>
				<div class="file-upload">
					{{fileName || "No file uploaded yet."}}
					<button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
						<fa-icon [icon]="faFile"></fa-icon>
					</button>
				</div>

			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
		<button type="button" class="btn btn-danger" (click)="modal.close('Cross click')">Cancel</button>
	</div>
</ng-template>	