<form [formGroup]="singerForm" (ngSubmit)="onSubmit()" class="mb-2">
	<div *ngIf="!selectedSinger.name" class="new-singer-input">
		<label for="name">Singer: </label>
		<input id="name"  class="form-control"  type="text" formControlName="singerName">
	</div>
	<label for="color" class="mt-3">Singer's color</label>
	<input id="color" class="form-control" [(colorPicker)]="color" [style.background]="color"/>
	<div *ngIf="!singerToEdit.id" class="song-search-wrapper mt-3">
		<app-song-search (selectedSong)="selectSong($event)" ></app-song-search>
	</div>
	<button type="submit" [disabled]="!singerForm.valid" class="btn btn-primary mt-3">Save</button>
	<button type="cancel" (click)="cancel()" class="btn btn-danger mt-3">Cancel</button>
</form>

