<button type="button" (click)="newSinger()" class="btn btn-primary mb-3">Add New Singer</button>
<div class="singers-wrapper">
	<div *ngFor="let singer of singers" class="card singer mb-3 me-3" style="border: 2px solid {{singer.color}};">
	  <div class="card-body" style="color: {{singer.color}};">
	    <h2>{{singer.name}}</h2>
	    <div>
		    <button type="button" (click)="editSinger(singer)" class="btn btn-success">
				<fa-icon [icon]="faEdit"></fa-icon>
			</button>
			<button (click)="deleteSinger(singer)" type="button" class="btn btn-danger">
				<fa-icon [icon]="faTrashAlt"></fa-icon>
			</button>
		</div>
	  </div>
	</div>
</div>
<div *ngIf="editting" class="singer-detail-wrapper">
	<app-singer-detail 
		[singers]="singers" 
		[singerToEdit]="selectedSinger" 
		(singerUpdated)="updateSinger($event)" 
		(editCancelled)="editCancelled($event)">			
	</app-singer-detail>
</div>	