<button type="button" (click)="open(content)" class="btn btn-primary mb-3">Manage Singers</button>
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Manage Singers</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<button type="button" (click)="newSinger()" class="btn btn-primary mb-3">Add New Singer</button>
		<div class="singers-wrapper d-flex">
			<div *ngFor="let singer of singers" class="card singer mb-3 me-3 d-flex" style="border: 2px solid {{singer.color}};">
			  <div class="card-body p-1 p-lg-3" style="color: {{singer.color}};">
			    <h2>{{singer.name}}</h2>
			    <div class="d-flex justify-content-start">
				    <button type="button" (click)="editSinger(singer)" class="btn btn-success small">
						<fa-icon [icon]="faEdit"></fa-icon>
					</button>
					<button (click)="deleteSinger(singer)" type="button" class="btn btn-danger small">
						<fa-icon [icon]="faTrashAlt"></fa-icon>
					</button>
				</div>
			  </div>
			</div>
		</div>
		<div *ngIf="editting" class="singer-detail-wrapper">
			<app-singer-detail 
				[singers]="singers" 
				[singerToEdit]="selectedSinger" 
				(singerUpdated)="updateSinger($event)" 
				(editCancelled)="editCancelled($event)">			
			</app-singer-detail>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close('Done click')">Done</button>
	</div>
</ng-template>
