/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn {
	margin-right: 1rem;
	&.small {
	  	height: 50px;
	    width: 50px;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
}
.btn-group {

	.btn {
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}
}

.card {
	min-width: 100px;
	.card-body {

	}
}

/* spinner */
.mat-progress-spinner-wrapper {
	.mat-progress-spinner {
		&.mat-spinner {
			&.mat-primary {
				position: absolute;
				width: 100% !important;
				height: 100% !important;
				display: flex;
				justify-content: center;
				align-items: center;
				background: rgba(0, 0, 0, 0.35);
				z-index: 100;

				svg {
					position: relative;
				}
				
			}

		}
	}
}


@media only screen and (max-width: 992px) {
	.btn {
	  	&.small {
		  	height: 30px;
			width: 30px;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
			.ng-fa-icon {
				svg {
					height: 14px;
					width: 14px;
				}
			}
		}
	}
	.card {
		.card-body {
			h2 {
				font-size: 18px;
				margin: 0;
			}
		}
	}
}

