<header>
	<div>
		<h1 class="ms-3 mt-1"><span>Karaoke Queue</span>			
			<button type="button" class="btn btn-outline-secondary ms-3" (click)="openHowTo(popHowToContent)">
				How to use this?
			</button>
			<a (click)="goToSessions()" href="" class="sessions-link">Sessions</a>			
		</h1>

		<ng-template #popHowToContent let-modal>
			<div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">How to use this</h4>
				<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
			</div>
			<div class="modal-body">
				<div><strong>How to add a new song to the library?</strong></div>
				<div>First you'll need to find the song on YouTube, usually searching for "[song name] karaoke" will do the trick.  Then you need to copy the video ID. That's the part after the ?v= in the video's url. For example: https://www.youtube.com/watch?v=dQw4w9WgXcQ the ID is dQw4w9WgXcQ. *You can also paste either the youtube video url, or the embed link and I'll get the ID for you :)</div>
				<div>Now click the "Songs" menu item, then click "Add New Song To Library", fill in the artist name, the song title, and past the video ID in the YouTube ID field.</div>
				<div>Then click the "Check Song" button, you should see a message as if the song should work or not, but the best check is to see if the preview video will play.</div>
				<div>If all is good, click the "Save" button and the song will be added to the library</div>
				
				<p class="mt-2 mb-0"><strong>How to add a new slip / song?</strong></p>
				<div>Click "Queue" menu, then click the "New Slip" button, then choose a singer and search for the song. Then click "Save".</div>
				
				<p class="mt-2 mb-0"><strong>How to add a new singer?</strong></p>
				<div>Click "Singers" menu item, then click "Manage Singers" button, then click the "Add New Singer" button, enter the singer's name, choose a color for them, and then *optionally find a song to sing</div>
				
				<p class="mt-2 mb-0"><strong>What does balancing the queue do?</strong></p>
				<div>If "Auto Balance Queue" is checked, when a new slip/song is added it will ensure the queue is evened out and people can get their songs in fairly.  If not checked, you can click the "Balance Queue" button and it will balance the current queue</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="modal.close('Save click')">OK</button>
			</div>
		</ng-template>
	</div>
</header>

<div *ngIf="session" class="container-fluid">
	<div class="row">	
		<div class="col-12 col-lg-3 order-2 order-lg-1 queue-col">
			<app-slips [slips]="slips" (updatedSlips)="updateSlips($event)"></app-slips>
		</div>
		<div class="col-12 col-lg-9 order-1 order-lg-2 singers-col">
			<div class="btn-group">
				<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
					<button type="button" class="btn btn-outline-danger" ngbDropdownToggle>Queue</button>
					<div class="dropdown-menu p-3" ngbDropdownMenu>
						<app-slip-detail [singers]="singers" (newSlip)="addSlip($event)"></app-slip-detail>
						<button class="btn btn-primary" (click)="getSlips()">Refresh Queue</button>
						<button *ngIf="!settings.isAutoBalanceQueue" class="btn btn-danger" (click)="balanceQueue()">Balance Queue</button>
					</div>
				</div>
				<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
					<button type="button" class="btn btn-outline-success" ngbDropdownToggle>Songs</button>
					<div class="dropdown-menu p-3" ngbDropdownMenu>
						<app-update-library></app-update-library>						
					</div>
				</div>
				<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
					<button type="button" class="btn btn-outline-success" ngbDropdownToggle>Singers</button>
					<div class="dropdown-menu p-3" ngbDropdownMenu>
						<app-singers 
						[sessionId]="sessionId" 
						[singers]="singers" 
						[slips]="slips" 
						(singersUpdate)="updateSingers($event)"
						(slipsUpdate)="updateSlips($event)"  
						></app-singers>
					</div>
				</div>
				<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
					<button type="button" class="btn btn-outline-success" ngbDropdownToggle>Settings</button>
					<div class="dropdown-menu p-3" ngbDropdownMenu>
						<mat-checkbox [(ngModel)]="settings.isAutoBalanceQueue" class="mt-2 mt-sm-0">Auto Balance Queue</mat-checkbox>
						<mat-checkbox [(ngModel)]="settings.autoPlay" class="mt-2 mt-sm-0">Auto Play Songs</mat-checkbox>
					</div>
				</div>
			</div>
			<app-video-component 
			[slipVideo]="slips" 
			[settings]="settings" 
			(videoPlayerStatus)="updateVideoPlayerStatus($event)"
			></app-video-component>		
		</div>
	</div>
</div>
<div *ngIf="!session">
	<h1>Sorry there was an error, this session:{{sessionId}} may not exist</h1>
</div>
